<h2>Contacts <%= link_to image_tag("/images/add.png"), new_contact_url() %></h2>
<hr>
<div id="pagination">
    <%= will_paginate @contacts %>
</div>
<% for contact in @contacts %>
    <div id="contact">
        <h3 style="display: inline;">
            <%= link_to "#{contact.last_name}, #{contact.first_name} #{contact.mi}".rstrip(), contact_url(contact.id) %>
        </h3>
        <%= "(#{contact.company.name})" %>
        <p>
            <strong>Job Title: </strong><%= contact.job_title %><br />
            <strong>Skills: </strong>
            <% for skill in contact.skills %>
                <%= link_to skill, contacts_url(:tag => skill.name) %>
            <% end %>
        </p>
    </div>
<% end %>
<div id="pagination">
    <%= will_paginate @contacts %>
</div>