<div class="toolbar">
    <%= link_to "Back", nil, :class => "back" %>
	<h1><%= "#{@contact.first_name} #{@contact.mi} #{@contact.last_name}" %></h1>
</div>

<h2>Phone Numbers</h2>
<ul>
	<% for phone in @contact.telephones %>
		<li>
			<%= link_to number_to_phone(phone.number, :area_code => true), "tel:#{phone.number}", :target => "_blank" %>
			<small><%= phone.phone_type %></small>
		</li>
	<% end %>
</ul>
<h2>Email Addresses</h2>
<ul>
	<% for email in @contact.emails %>
		<li>
			<%= link_to email.email, "mailto:#{email.email}", :target => "_blank" %>
			<small><%= email.email_type %></small>
		</li>
	<% end %>
</ul>
